body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navLogoPC {
  width: 250px;
}

.navbarPC {
  display: block;
  visibility: visible;
}

.mediaQueryNavbar {
  display: none;
  visibility: hidden;
}

.container00 {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container00 header a {
  font-size: 12px;
  font-weight: 700;
}

.titlePadding {
  padding-top: 200px;
}

.arrowDown {
  width: 90px;
}

.btnLearnMore-Explore {
  font-size: 15px;
}

.contactDiv {
  height: 80vh;
  padding-top: 15%;
  font-size: 17px;
}
.contactDiv a {
  font-size: 20px;
}
.contactDiv .obcLink {
  color: #b9b9b9;
}
.contactDiv .obcLink:hover {
  color: white;
}
.contactDiv .obcLink:link {
  text-decoration: none;
}

.footter {
  font-size: 13px;
}
.footter .copyright {
  color: #555252;
}
.footter a {
  color: white;
}
.footter a:hover {
  color: #b9b9b9;
}
.footter a:link {
  text-decoration: none;
}

@media (max-width: 990px) {
  .navbarPC {
    display: none;
    visibility: hidden;
  }
  .mediaQueryNavbar {
    display: block;
    visibility: visible;
  }
}
.container01 {
  background: url("../assets/images/home/01.jpg") center no-repeat;
  background-size: cover;
}

.container02 {
  background: url("../assets/images/home/03.jpg") center no-repeat;
  background-size: cover;
}

.container03 {
  background: url("../assets/images/home/02.gif") center no-repeat;
  background-size: cover;
}

.container04 {
  background: url("../assets/images/home/04.jpg") center no-repeat;
  background-size: cover;
}

.fontFalconTitle {
  font-weight: 514;
}

.container05 {
  background: url("../assets/images/falcon9/01.jpg") center no-repeat;
  background-size: cover;
}

.container06 {
  background: url("../assets/images/falcon9/02.jpg") center no-repeat;
  background-size: cover;
}

.container07 {
  background: url("../assets/images/falcon9/08.jpg") center no-repeat;
  background-size: cover;
}

.carouselContent {
  padding-top: 300px;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}
#overViewPosition table {
  color: #d8d8d8;
}

.carouselImage1 {
  background-image: url("../assets/images/falcon9/03.jpg");
}

.carouselImage2 {
  background-image: url("../assets/images/falcon9/04.jpg");
}

.carouselImage3 {
  background-image: url("../assets/images/falcon9/05.jpg");
}

.carouselImage4 {
  background-image: url("../assets/images/falcon9/06.jpg");
}

.carouselImage5 {
  background-image: url("../assets/images/falcon9/07.jpg");
}

.carouselImage6 {
  background-image: url("../assets/images/falcon9/09.jpg");
}

.carouselImage7 {
  background-image: url("../assets/images/falcon9/10.jpg");
}

.carouselImage8 {
  background-image: url("../assets/images/falcon9/11.jpg");
}

.carouselImage9 {
  background-image: url("../assets/images/falcon9/12.jpg");
}

.carouselImage10 {
  background-image: url("../assets/images/falcon9/13.jpg");
}

.carouselImage11 {
  background-image: url("../assets/images/falcon9/14.jpg");
}

.carousel1 {
  width: 600px;
  color: #d8d8d8;
}
.carousel1 .tdData {
  padding-left: 100px;
}

.carousel2 {
  width: 500px;
}

.carousel3 {
  width: 500px;
  color: #d8d8d8;
}

.carousel4 {
  width: 500px;
}

.carousel5 {
  width: 500px;
  color: #d8d8d8;
}

.carouselWithButton {
  background-color: black;
  position: absolute;
  bottom: 7%;
}
.carouselWithButton p {
  padding-left: 10px;
  padding-right: 10px;
}

.containerFalcon9Description {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.falcon9Description {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}

@media (max-width: 768px) {
  .falcon9Description {
    width: 340px;
  }
}
@media (max-width: 1024px) {
  #overViewPosition {
    width: 300px;
  }
}
@media (max-width: 386) {
  #overViewPosition {
    width: 250px;
    margin-left: 10%;
  }
  .falcon9Description {
    width: 320px;
  }
}
.container08 {
  background: url("../assets/images/humanFlight/01.jpg") center no-repeat;
  background-size: cover;
}

.container09 {
  background: url("../assets/images/humanFlight/02.jpg") center no-repeat;
  background-size: cover;
}

.container10 {
  background: url("../assets/images/humanFlight/03.jpg") center no-repeat;
  background-size: cover;
}

.container11 {
  background: url("../assets/images/humanFlight/04.jpg") center no-repeat;
  background-size: cover;
}

.container12 {
  background: url("../assets/images/humanFlight/05.jpg") center no-repeat;
  background-size: cover;
}

.titleHuman {
  padding-top: 20%;
  font-size: 120px;
  font-weight: 500;
}

.subtitleHuman {
  font-size: 30px;
  font-weight: 100;
}

.spaceXText {
  padding-top: 3.2%;
  height: 200px;
  font-size: 20px;
}

.obcLinkText {
  color: white;
  font-weight: 500;
}
.obcLinkText:link {
  text-decoration: none;
}

.rightPosition {
  padding-top: 20%;
  padding-left: 40%;
}
.rightPosition h1 {
  font-size: 60px;
  font-weight: 500;
}
.rightPosition a {
  font-weight: 100;
}

.leftPosition {
  padding-top: 20%;
  padding-left: 0%;
}
.leftPosition h1 {
  font-size: 60px;
  font-weight: 500;
}
.leftPosition a {
  font-weight: 100;
}

@media (max-width: 790) {
  .titleHuman {
    font-size: 50px;
  }
}
@media (max-width: 425px) {
  .titleHuman {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
