.container01{
  background: url('../assets/images/home/01.jpg') center no-repeat;
  background-size: cover;
}

.container02{
  background: url('../assets/images/home/03.jpg') center no-repeat;
  background-size: cover;
}

.container03{
  background: url('../assets/images/home/02.gif') center no-repeat;
  background-size: cover;
}

.container04{
  background: url('../assets/images/home/04.jpg') center no-repeat;
  background-size: cover;
}

